body{
    background: #CCC;
    color: #000;
  }
  .shadow0{
    -webkit-box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.75);
  }
  .block-title{
    font-weight: bold;
    font-size: 20;
    text-align: left;
    border: solid 0.1em #000;
    padding: 0.3em;
    margin: 0.3em 0 0.3em 0;
    background: #000;
    color: #FFF;
    border-radius: 0.3em; 
  }
  .block-header{
    background: #000;
    padding: 0.1;
    color: #FFF;
  }
  .block-header p{
    padding: 0.2em;
    font-weight: bold;
  }
  .block-content{
    margin: 0.3em;
  }
  .block-content p{
    line-height: 0.3;
    font-size: 16;
  }
  .block-content p:first-child{
    line-height: 1.5;
    font-size: 16;
    text-align: center;
  }
  .block-category{
    width: 20em;
    border: solid 0.1em #000;
    display: inline-block;
    border-radius: 0.4em;
    cursor:pointer;
    background: #FFF;
  }
  .block-category p:first-child{
    font-size: 18;
    font-weight: bold;
    text-align: center;
  }
  .block-menu{
    padding: 0.3em 0 0.5em 0;
  }
  .block-menu a{
    display: inline-block;
    border: solid 0.1em #000;
    text-align: center;
    padding: 0 0.3em 0 0.3em;
    border-radius: 0.2em;
    background: #FFF;
    cursor: pointer;
    text-decoration: none;
  }
  .block-menu a:hover{
    background: #CCC;
    color: red;
  }
  .block-detail{
    margin-top: 0.3em;
    text-align: left;
  }
  .block-detail em{
    text-align: center;
  }
  .blobk-bradcumb a{
    text-decoration: none;
    color: #FFF;
    padding: 0 0.5 0 0;
  }
  .blobk-bradcumb li{
    display: inline-block;
    list-style: none;
  }
  .block-record-content{
    padding: 0.3em;
  }
  .block-record-content p{
    line-height: 0.3;
    font-size: 16;
  }
  .block-record{
    border: solid 0.1em #000;
    border-radius: 0.4em;
    background: #FFF;
  }
  .block-section p:first-child{
    font-size: 20;
    font-weight: bold;
   margin: 1.5em 0 1em 0; 
  }
  .block-active{
    background: #CCC;
    color: red;
  }